@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.mask-1{
  -webkit-mask-image: url("../../public/black-circle.png");
  mask-size: cover;
  transition: mask-image 0.4s ease-out,background 0.4s ease-out;
}

.mask-1:hover{
  -webkit-mask-image: url("../../public/rounded-black-square-shape.png");
  mask-size: cover;
  transition: mask-image 0.4s ease-out,background 0.4s ease-out;
}